<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title></title>
  </head>
  <body>
    <form method="post">
      <label>제목</label><input type="text" name="title"><br><br>
      <label>본문</label><textarea name="body" rows="8" cols="80"></textarea><br><br>
      <input type="submit" value="작성">
    </form>
  </body>
</html>
