<!DOCTYPE html>
<html>
  <head>
    <meta>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <style>
      .section{
        margin:1px;
        border:solid black 1px;
        padding:10px;
      }
      .comments{
        padding:10px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <a href="/board/posts"><h1>MS Blog</h1></a>
    </div>
    <div class="target">
      <div class="section">
        <label>작성자  </label>
        <div class="writer"></div>
      </div>
      <div class="section">
        <label>제목  </label>
        <div class="title"></div>
      </div>
      <div class="section">
        <label>내용  </label>
        <div class="content"></div>
      </div>
      <div class="section">
        <label>작성시간  </label>
        <div class="date"></div>
      </div>
      <div class="section">
        <label>첨부파일  </label>
        <div class="file"><a href="#"></a></div>
      </div>
    </div>
    <div class="bottom">
      <button type="button" class="btn btn-default del">DELETE</button>
      <button type="button" class="btn btn-default update">UPDATE</button><br><br><hr>
    </div>

    <div class="comments">
      <form class="" method="post">
        <textarea class="form-control" name="comment" rows="3"></textarea><br>
        <input type="submit" value="WRITE">
      </form>
      <br>
      <table class="table">
        <tr>
          <th><h4>Comment</h4></th>
          <th><h4>Writer</h4></th>
        </tr>
      </table>
    </div>
  </body>
</html>

<script>
  var data = <%- result %>
  var no = <%- no %>
  $(document).ready(function(){
    //콘텐츠 출력
    $('.writer').text(data.writer);
    $('.title').text(data.title);
    $('.content').text(data.content);
    $('.date').text(data.date);
    $('.file > a').text(data.filename);

    //파일 다운로드 링크
    $('.file > a').attr('href', no + '/download');
  })

  //댓글 출력
  var comments = <%- comments %>
  for(var i=0; i<comments.length; i++){
    $('.table').append('<tr><td>' + comments[i].comment + '</td><td>' + comments[i].writer + '</td><tr>');
  }

  $('.del').click(function(){
    location.href = no + '/delete';
  })

  $('.update').click(function(){
    location.href = no + '/update';
  })
</script>
