<!DOCTYPE html>
<html>
  <head>
    <meta>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <style>
      .section{
        margin:1px;
        border:solid black 1px;
        padding:10px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <a href="/board/posts"><h1>MS Blog</h1></a>
    </div>
    <div class="target">

    </div>

    <div class="bottom">
      <button type="button" class="btn btn-default del">DELETE</button>
      <button type="button" class="btn btn-default update">UPDATE</button>
    </div>
  </body>
</html>

<script>
  var data = <%- result %>
  var no = <%- no %>
  $(document).ready(function(){
    $('.target').append('<div class="section"><label>작성자  </label>'+ data.id +'</div><div class="section"><label>제목  </label>'+ data.title +'</div><div class="section"><label>내용  </label>'+ data.body +'</div><div class="section"><label>작성시간  </label>'+ data.time +'</div>');
  })

  $('.del').click(function(){
    location.href = no + '/delete';
  })

  $('.update').click(function(){
    location.href = no + '/update';
  })
</script>
