<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="target">

    </div>

    <div class="create">
      <button type="button" class="write">글쓰기</button>
    </div>
  </body>
</html>

<script>
  var resultList = <%- result %>
  for(var i=0; i<resultList.length; i++){
    $('.target').append("<div>" + resultList[i].id + "</div>");
  }

  $('.write').click(function(){
    location.href = "posts/create";
  })
</script>
