<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title></title>
    <style>
      .posts{
        margin:1px;
        border:solid black 1px;
        padding:10px;
      }
    </style>
  </head>
  <body>
    <div class="top">
      <button type="button" class="logout">로그아웃</button>
      <form action="/board/posts/search" method="post">
        <input type="text" name="search">
        <input type="submit" value="검색">
      </form>
    </div>

    <div class="target"></div>

    <div class="create">
      <button type="button" class="write">글쓰기</button>
    </div>
  </body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

<script>
  //게시글 리스트 뿌려주기
  var resultList = <%- result %>
  for(var i=0; i<resultList.length; i++){
    $('.target').append('<div class="posts">제목 : <a href="posts/detail/' + resultList[i].no + '">' + resultList[i].title + '</a><br>작성자 :' + resultList[i].id + '</div>');
  }

  //게시글 작성 페이지로 이동
  $('.write').click(function(){
    location.href = "posts/create";
  })

  //로그아웃(쿠키삭제)
  $('.logout').click(function(){
    location.href = "posts/logout";
  })
</script>
