<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Signup</h1>
    <form method="post">
      <label>ID</label><input type="text" name="id"><br>
      <label>PW</label><input type="text" name="pw"><br>
      <label>NAME</label><input type="text" name="name"><br>
      <label>AGE</label><input type="text" name="age"><br>
      <input type="submit" value="Signup">
    </form>

  </body>
</html>
